.editor{
  height: 100%;
}

.drawerSwitch{
  position: absolute;
  right: 1vmin;
  top: 1vmin;

  width: 2.5vmin;
  height: 2.5vmin;

  background-size: 100% 100%;
  background-image: url(../../assets/form.png);
}

.submitSwitch{
  position: absolute;
  right: 5vmin;
  top: 1vmin;

  width: 2.5vmin;
  height: 2.5vmin;

  background-size: 100% 100%;
  background-image: url(../../assets/save.png);
}

.commitSwitch{
  position: absolute;
  right: 9vmin;
  top: 1vmin;

  width: 2.5vmin;
  height: 2.5vmin;

  background-size: 100% 100%;
  background-image: url(../../assets/tree.png);
}

.form{
  height: 900px;
}

.timeLine{
  position: absolute;
  right: 0px;
  top: 70px;
}