.createButton{
  position: absolute;
  right: 4vmin;
  top: 4vmin;

  width: 2vmin;
  height: 2vmin;

  background-size: 100% 100%;
  background-image: url(../../assets/add.png);

  cursor: pointer;
}