.createButton{
  position: absolute;
  right: 40px;
  top: 40px;

  width: 2vmin;
  height: 2vmin;

  background-size: 100% 100%;
  background-image: url(../../assets/add.png);

  cursor: pointer;
}

.templateItemCard{
  cursor: pointer;
}

.templateItemRow{
  margin-bottom: 8px;
  background-color: pink;
}

.templateVersionItem{
  cursor: pointer;
}