.createButton{
  position: absolute;
  right: 40px;
  top: 40px;

  width: 2vmin;
  height: 2vmin;

  background-size: 100% 100%;
  background-image: url(../../assets/add.png);

  cursor: pointer;
}

.templateItemCard{
  cursor: pointer;
  border: none;
}

.templateItemList{
  width: 95%;
}

.templateVersionItem{
  cursor: pointer;
}

.templateVersionItemList{
  background-color: pink;
}